* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: black;
    background-color: #515253;
    line-height: 150%;
    /* word-break: break-all; */
}

strong {
    font-weight: 700;
}

a {
    color: #FF8904;
    font-weight: 700;
    text-decoration: none;
}

a:hover {
    color: #A3D439;
    text-decoration: underline;
}

nav a {
    text-decoration: underline;
    text-transform: uppercase;
}

#container {
    width: 90%;
    margin: 1em auto;
    padding: 1rem;
    background-color: white;
    border: 2px solid black;
    border-radius: 25px;
}

header {
    width: 90%;
    margin: auto;
    text-align: center;
    position: relative;
}

#mainHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
}

#avatarPicture {
    width: 100px;
    height: 100px;
    border: 3px solid #A3D439;
    border-radius: 100px;
    /* box-shadow: 2px 2px 0px 0px black; */
    background-image: url("../img/avatar.png");
    background-position: center;
    background-size: cover;
}

#homePictureLink {
    display: block;
    width: 100%;
    height: 100%;
}

h1 {
    margin: 1rem 0.5rem;
    font-size: 3rem;
    color: #FF8904;
    font-weight: 700;
}

h1 a:hover {
    text-decoration: none;
}

#description {
    font-size: 1.6rem;
    margin: 0.3rem;
    font-style: italic;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
}

nav ul li {
    margin: 1rem 1.5rem;
    font-size: 1.3rem;
}

/* Menu de recherche */

#search {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
    position: absolute;
    top: 20%;
    right: 0;
}

#search input {
    border: 1px solid #FF8904;
}

#search button {
    border: none;
    border-radius: 5px;
    background-color: #FF8904;
    padding: 0.4rem;
}

#search i {
    color: white;
}

/* Fin menu de recherche */

/* page Search (uniquement si aucun résultat trouvé */

.alert {
    width: 90%;
    margin: auto;
    text-align: center;
    color: #A3D439;
    font-size: 1.3em;
    font-weight: 700;
    margin: 2em 0 3em 0;
}

/* Fin page Search (uniquement si aucun résultat trouvé */

/* Séparateur header/container */

#mainLine {
    width: 100%;
    margin: 0 auto;
    height: 2px;
    background-color: #A3D439;
}

/* FIN DE HEADER.PHP */


article {
    padding: 1.5rem 4rem;
    overflow: auto;
}

h2 {
    width: 100%;
    margin: 1rem 0 1.5rem 0;
    font-size: 1.9rem;
    color: #FF8904;
}

h2 a {
    font-weight: normal;
}

h2 a:hover {
    font-weight: 700;
}


h3 {
    margin: 0.7em 0;
    font-size: 1.5rem;
    color: #FF8904;
}

h3 a {
    font-weight: normal;
}

h3 a:hover {
    font-weight: 700;
}

.category a {
    display: inline-block;
    border-radius: 15px;
    padding: 0 0.5em;
    background-color: #FF8904;
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin: 0.1rem 0;
}

#mainContent {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-flow: row wrap;
}

.dateSpan {
    font-weight: 700;
}

#contentPost {
    margin-top: 1em;
}

#mainContent article {
    width: 50%;
}

#mainContent h2 {
    margin: 0;
    padding: 2rem 4em 0.5rem 4rem;
}

/* Modification des commentaires */

#comments {
    border: 2px solid #FF8904;
    border-radius: 25px;
    padding: 0.4em 1em;
    margin-top: 3em;
}

#reply-title {
    font-weight: 700;
}

.comment-form-comment {
    margin: 1rem 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: column nowrap;
}

.comment-form-comment label {
    color: #FF8904;
    font-weight: 700;
}

.comment-form-comment textarea {
    border: 1px solid #FF8904;
}

.comment-form-author,
.comment-form-email,
.comment-form-url {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: column nowrap;
    color: #FF8904;
    font-weight: 700;
}

#commentform input {
    border: 1px solid #FF8904;
}

#commentform .form-submit input[type="submit"] {
    border: 1px solid black;
    border-radius: 15px;
    background-color: #FF8904;
    padding: 0.2rem 0.7rem;
    margin-top: 0.75rem;
    color: white;
    font-weight: 700;
}

#commentform .form-submit input[type="submit"]:hover {
    color: black;
    border: 1px solid #A3D439;
}

/* Fin modification des commentaires */

/* Pagination */

#pagination {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
}

#pagination p {
    margin-right: 0.5em;
    margin-left: 0.5em;
    font-size: 2em;
}

/* Fin pagination */

/* Footer Navbar */

.izihutch-nav {
    margin-top: 1.5rem;
}

.izihutch-nav .izihutch-ul li {
    font-size: 0.95em;
}

/* Fin Footer Navbar */

/* Footer */

footer {
    background-color: #EEE;
    border-radius: 25px;
}

footer p {
    width: 90%;
    margin: 1em auto;
    text-align: center;
    font-size: 0.8em;
    color: #A3D439;
    font-weight: 700;
}

footer p a {
    color: #A3D439;
    text-decoration: none;
}

footer p a:hover {
    color: #FF8904;
}

/* Footer */




/* RESPONSIVE DESIGN */


/* max de 1200px */

@media (max-width: 1200px) {
    #search {
        position: relative;
        margin-bottom: 1rem;
    }
}

/* max de 992px */

@media (max-width: 992px) {
    #container {
        width: 95%;
    }

    h1 {
        line-height: 105%;
    }
}


/* max de 768px */

@media (max-width: 768px) {
    #container {
        width: 97%;
        margin: 0.5em auto;
        padding: 0.5rem;
    }

    #mainContent article {
        width: 100%;
    }

    .comment-form-comment textarea {
        width: 100%;
    }
}

/* max de 576px */

@media (max-width: 576px) {
    #container {
        width: 100%;
        border: 0px solid black;
        border-radius: 0px;
    }

    #mainHeader {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-flow: column-reverse nowrap;
        margin-bottom: 1rem;
    }

    #description {
        font-size: 1.4rem;
    }
}